/* Group */

p {
    margin: 0;
  }
  
  .group {
    position: relative;
    width: 687.4px;
    height: 1054.43px;
    box-sizing: border-box;
  }
  .vector {
    position: absolute;
    top: 17.94%;
    bottom: 71.11%;
    left: 20.6%;
    right: 20.56%;
    width: 404.52px;
    height: 115.45px;
  }
  
  .group-266 {
    position: absolute;
    top: 51.1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 657.98px;
    height: 536.8px;
    box-sizing: border-box;
  }
  .vector-1 {
    width: 100%;
    height: 53.16px;
  }
  
  .vector-2 {
    width: 549.71px;
    height: 196.06px;
  }
  
  .group-184 {
    display: flex;
    flex-direction: row;
    width: fit-content;
    box-sizing: border-box;
  }
  .vector-3 {
    width: 71.75px;
    height: 100%;
  }
  
  .vector-4 {
    width: 71.75px;
    height: 100%;
  }
  
  .group-887 {
    display: flex;
    flex-direction: row;
    width: fit-content;
    box-sizing: border-box;
  }
  .vector-5 {
    width: 71.75px;
    height: 100%;
  }
  
  .vector-6 {
    width: 71.75px;
    height: 100%;
  }
  